.lines-color {
    color: var(--lines-color);
}
.white-color {
    color: var(--white);
}

.icons a svg {
    width: 28px;
    height: 28px;
    transition: all 0.3s ease; 
}

.icons a:hover svg {
    transform: scale(1.1);
}

.icon-scale svg {
    transition: all 0.2s ease;
}
.icon-scale:hover svg {
    transform: scale(1.1);
}