.image-parsed-card {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.image-style {
    border-radius: 10px;
    border: 2px solid var(--pallete-3);
    transition: all 0.2s ease;
}
.image-style:hover {
    transform: scale(1.01);
}